main{

    width: 55%;

    margin: auto;

    margin-top: 8%;

    background: #fff7f0 ;

    border: #000 solid 0.4rem;

    border-radius: 2.5rem
}


.Main-Text{

    font-size: 1.5rem;

    padding: 5%;

    font-family: "Afo"
}


/*---------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 430px){ 
    
    main{

        width: 80%
    }

} 

