main{

    width: 55%;

    margin: auto;

    background: #fff7f0 ;

    border: #000 solid 0.4rem;

    border-radius: 2rem
}


.Main-Text{

    font-size: 1.5rem;

    padding: 5%;

    font-family: "Afo"
}
