a, p, li,.Methods-Contacts{

    color: #333
}


body{

    background: #F8F9F9;
}


/* Encasulated Page--------------------------------------------------------------------------------*/

.Encapsulated-page{

    gap: 3%;  

    padding: 0 3%;

    display: flex;

    margin-top: 8rem;

    align-items: stretch; 

    justify-content: center
}


.Maps{

    width: 50%;

    border-radius: .75rem;

    border: 1px #e1e4e8 solid;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}


/* Encapsulated Small-----------------------------------------------------------------------------*/

.Encapsulated-Small{

    width: 44.7%;

    display: flex;

    flex-direction: column
}


/* Sections---------------------------------------------------------------------------------------*/

.Section-Contacts, .Section-Hours{

    border-radius: .75rem;

    background: #ffffff;

    border: 1px #e1e4e8 solid;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}


.Section-Hours{

    height: 7rem;

    padding: 3% 8%
}


.Section-Contacts{

    height: 10rem;

    margin-bottom: 5%;

    padding: 1.8rem;
}


.Section-Contacts:hover, .Section-Hours:hover{

    background: #ffffff
}


h2{

    margin: 0;

    margin-top: 2%;

    margin-bottom: 1%;

    font-size: 1.2rem;

    text-align: center
}


/* Content Section Contacts----------------------------------------------------------------------*/

.Mail::marker{

    content: "✉  "
}

.Number::marker{

    content: "☏  "
}

.Addres::marker{

    content: "⚑  "
}


.Mail, .Number, .Addres, .Hours{

    font-size: 1rem  
}


/* Content Section Hours-------------------------------------------------------------------------*/

.Encapsulated-Hours{

    display: flex;

    justify-content: space-between
}

