body{
    
    font-family: "Outfit"
}


li{

    list-style: none 
}


/* Footer--------------------------------------------------------------------------------------*/

footer{

    margin-top: 8rem;

    padding: 3rem 5rem;

    background: #f0f2f5;

    border-top: 1px solid #d1d7db;
}


/* Content-------------------------------------------------------------------------------------*/

.Section-Content{

    margin: auto
}


.Copyright{

    color: #333;

    margin: 0;

    font-size: 1rem;

    text-align: right;
}


.Footer-Text, .Payment-Text{

    color: #606264;
}


.Footer-Text{

    font-size: 1rem;

    display: block;

    margin-bottom: .9rem;
}

.Payment-Text{

    margin: 0%
}


/* Logotipos de Pago---------------------------------------------------------------------------*/

.Encapsulated-Footer-Down{

    display: flex;

    margin-top: 3%;

    align-items: center;

    border-top: 1px solid #d1d7db;

    padding: 3% 0 0 0;
    
}


.Encapsulated-Payment-Methods{

    display: flex;

    width: fit-content;

    align-items: center;

    margin-right: auto;

    gap: .5rem;
}


.Payment-Logo{

    height: 3rem;

    border-radius: 50%;

    filter: grayscale(100%);

    transition: all 0.3s ease
}


.Payment-Logo:hover{

    filter: grayscale(0%);

    transform: translateY(-8px)
}


/* Logotipos de Pago---------------------------------------------------------------------------*/



.Footer-Text:hover{

    color: #000;
}


.Footer-Encapsulated{

    width: 60%;

    margin: auto;

    display: flex;

    justify-content: space-between
}

.ul-Footer {
 
  padding: 0;

  margin: 0;
}

.Title-Column {

    margin-bottom: 1rem;
}

