.Mail, .Number, .Addres{

    font-size: 1.3rem  
}

a{

    color: #000
}



.Encapsulated-page{

    display: flex
}


.Maps{

    width: 45%;

    height: 27.5rem;

    border: #e2e7ec groove 0.6rem;

    margin: 3%
}


.Encapsulated-Small{

    width: 44%;

    display: flex;

    flex-direction: column;

    margin-top: 3%
}


.Section-Contacts, .Section-Hours{

    background: #f8f9f9;

    border: groove #e2e7ec 0.6rem;
    
    margin-bottom: 5%;

    font-family: "Afo";

    padding: 2.5%
}

.Section-Contacts:hover, .Section-Hours:hover{

    background: #ffffff;
}

.Section-Contacts{

    height: 12rem;
}

.Section-Hours{

    height: 8rem;

}


h3{

    margin: 0;

    font-size: 1.8rem;

    text-align: center
}


.Title-Hours{

    margin-bottom: 2%
}




/*---------------------------------------------------------------------------------------------------*/

.Mail::marker{

    content: "✉  "
}

.Number::marker{

    content: "☏  "
}

.Addres::marker{

    content: "⚑  "
}

/*---------------------------------------------------------------------------------------------------*/

.Encapsulated-Hours{

    display: flex;

    justify-content: space-between
}


.Hours{

    font-size: 1.2rem;

    text-shadow: 0 0 .5rem #e2e7ec;
}


