.Encapsulated-page{

    display: flex;

    flex-wrap: wrap;
}


.Maps{

    width: 45%;

    height: 28rem;

    border: #e2e7ec groove 0.6rem;

    margin: 3%
}


.Encapsulated-Small{

    width: 42%;

    display: flex;

    flex-direction: column;

    margin-top: 3%;
}


.Encapsulated-Contacts, .Encapsulated-Methods{

    background: #f8f9f9 ;

    border: groove #e2e7ec 0.6rem;

    height: 10rem;
    
    margin-bottom: 5%;

    font-family: "Afo";

    padding: 3%
}


h3{

    margin: 0;

    font-size: 1.5rem;

    text-align: center
}


.Title-Methods{

    margin-bottom: 5%;
}


li{

    font-size: 1.2rem  
}

/*---------------------------------------------------------------------------------------------------*/

ul li:first-child::marker{

    content: "✉  "
}

ul li:nth-child(2)::marker, ul li:nth-child(3)::marker{

    content: "☏  "
}

ul li:nth-child(4)::marker{

    content: "⚑  "
}

/*---------------------------------------------------------------------------------------------------*/

.Encapsulated-Logos-Payments{

    display: flex;

    justify-content: space-between
}


.Logos-Payments{

    width: 15%;

    border-radius: 20%
}


.Logos-Payments:hover{

    box-shadow: 0 0 0.3rem #000
}