body{

    font-family: "Afo"
}

p, .Member-Position{

    font-size: 1.3rem
}


/* Encapsulado página---------------------------------------------------------------------------------*/

.Encapsulated-Page{

    display: flex;

    flex-wrap: wrap
}


.Title-Members, .Title-Purpose-Supermarket{
    
    text-align: center;

    font-size: 6rem
}


/* Secciones cartas-----------------------------------------------------------------------------------*/

.Section-Cards-Members, .Section-Card-Purpose{

    display: flex;

    justify-content: space-evenly
}


.Section-Members{

    margin-bottom: 8%
}


/* Cartas---------------------------------------------------------------------------------------------*/

.Cards{

    width: 19%;
    
    text-align: center;

    background: #f8f9f9;

    padding: 2%;

    border: .5rem #e2e7ec groove;

    border-radius: 1rem;

    transition: transform 1.5s ease;
}


.Cards:hover{

    background: #fff;

    transform: scale(1.05) 
}


/* Contenido cartas sección miembros------------------------------------------------------------------*/

.Member-Photos{

    width: 10.5rem;

    height: 10.5rem;

    border-radius: 50%;

    box-shadow: 0 0 0.5rem #abb2b9
}


.Member-Position{

    color: #abb2b9;

    margin-top: 10%;

    display: block
}


h4{

    font-size: 1.5rem;

    margin: 0
}


/* Contenido cartas sección propósito-----------------------------------------------------------------*/

.Title-Cards-Purpose{

    font-size: 3rem
}
