html{

    font-size: 16px
}

body{

    background: #000c;

    margin: 0
}

/*-----------------------------------------------------------------------*/

.Encapsulated-Page{

    background: #f8f9f9; 

    border: 0.5rem groove #e2e7ec;

    width: 85%;

    border-radius: 1%;

    padding: 2%;

    margin: 6%
}


.Main-Title{

    font-size: 3rem;

    text-shadow: 0 0 0.1rem #000
}

.Caption{

    font-size: 1.5rem;

    margin-bottom: 0.6rem;

    margin-top: 3.8rem
}


.Paragraph{

    font-size: 1.3rem
}


li{

    font-size: 1.3rem
}


/*----------------------------------------------------------------------------------------------*/

.Main-Title, .Paragraph, .Caption, li{

    font-family: "Afo"
}
