html{

    font-size: 16px;
}

body{

    background: #aed6f1;

    margin: 0
}

/*-----------------------------------------------------------------------------------------------------------*/

.Encapsulated-Page{

    background: #f8f9f9 ;

    border: 0.5rem groove #e2e7ec;

    border-radius: 1%;

    width: 85%;

    padding: 2%;

    margin: 6%
}


.Main-Title{

    font-size: 3rem;

    text-shadow: 0 0 0.1rem #000
}


.Subtitle{

    font-size: 1.8rem;

    margin-top: 3.6rem;
}


.Paragraph, li{

    font-size: 1.3rem;
}


/*-----------------------------------------------------------------------------------------------------------*/

.Paragraph, .Subtitle, .Main-Title, li{

    font-family: "Afo"
}