body{

    margin: 0
}

a{
    
    color: #fff;

    text-decoration: none
}


/* Encapsulated Header----------------------------------------------------------------------------------*/

.Page-Header{
  
    display: flex;

    flex-wrap: wrap;

    padding: 0% 3%;

    max-width: 100%;

    background: #003366
}


/* Encapsulated Icon-Title----------------------------------------------------------------------------*/

.Encapsulated-Icon-Title{

    display: flex;

    align-items: center;

    gap: 1rem;
}


.IconLemon{

    width: 90%;

    height: 4rem
}


.Title-Header{

    color: #fff;
  
    font-size: 2rem;

    margin-top: 2.8%;

    font-family: "Cervone";

    letter-spacing: 0.5rem;
}


/* Navigation Bar-----------------------------------------------------------------------------------*/

.Navigation-Bar{

    width: 33%;

    display: flex;

    margin-left: auto;

    padding: 2.5% 0% 1.8% 0%;

    justify-content: space-between
}


.Navigation-Bar-Text{
  
    font-size: 1.2rem;

    font-family: "Outfit"
}


.Navigation-Bar-List{

    padding: 8px; 

    font-size: 1.2rem;

    position: relative;

    list-style-type: none
}



.Navigation-Bar-List::after{

    left: 0;

    bottom: 5px;

    width:  0%;

    height: 2.5px;

    content: "";

    position: absolute;

    background-color: #fff;

    transition: width 0.3S ease
}


.Navigation-Bar-List:hover::after{

    width: 100%
}


/* SVG----------------------------------------------------------------------------------------------*/
.Svg-Header{

    fill:none;

    margin: auto;

    display: block;

    stroke:white;

    stroke-width:1
}



/* MÓVILES GRANDES / TABLETS VERTICAL (Menos de 768px) */
@media (min-width: 630px) and (max-width: 1010px) {


    .Page-Header{

        flex-direction: column;

        align-items: center;

        flex-wrap: wrap;

        justify-content: center;
  
   

    
}

.Navigation-Bar{

    padding: 0%;

    margin: 0%;

    width: 80%;


}
   


    
}

@media (min-width: 330px) and (max-width: 630px) {
    

    
    .Page-Header{

        

        align-items: center;

        flex-wrap: wrap;

         justify-content: center;

         padding: 0;
  
   

    
}

.Svg-Header{


    width: 50px;
    fill:none;

    margin: auto;

    display: block;

    stroke:white;

    stroke-width:1
}

.Navigation-Bar{

    padding: 0%;

    margin: 0%;

    width: 80%;


}

.Navigation-Bar-Text{
  
    font-size: 1rem;

    font-family: "Outfit"
}
  


.IconLemon{

    width: 80%;

    height: 4rem
}


.Title-Header{

    color: #fff;
  
    font-size: 2rem;

    margin-top: 2.8%;

    font-family: "Cervone";

    letter-spacing: 0.5rem;
}

}

