# Dependencias
/node_modules
/pids
/logs
*.pid
*.seed
*.log
/npm-debug.log*
/yarn-error.log
/yarn-debug.log*

# Producción
/dist
/build

# Secretos 
.env
.env.local
.env.*.local

# Sistema Operativo
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo

# Tests
coverage/