body{

    font-family: "Afo"; 
}

.Footer-Page{

    background: #f2f4f4;

    padding: 2.5%;

    margin-top: 5%
}


.Encapsulated-Content-Footer-Page{

    margin: auto;

    text-align: center;

    font-size: 1.3rem
}


.Phrase-Footer-Page{

    font-size: 1.5rem;

    text-align: center;

    margin-bottom: 1.5%;
}


.Link-Legal-Terms{

    text-decoration: none;

    color: #abb2b9
}


.Link-Legal-Terms:hover{

    color: #000
}


.List-Legal-Terms{
    
    list-style: none;

    width: 12.8%;

    display: inline-block;
}


.List-Legal-Terms:nth-last-child(1){

    width: 15.2%
}



