body{

    font-family: "Afo"
}


/* Pie de Página ---------------------------------------------------------------------------------------------------*/

.Footer-Page{

    background: #f2f4f4;

    padding: 3.5%;

    margin-top: 5%;

 
}


.Section-Content{

    text-align: center;

    font-size: 1.7rem
}


.Copyright{

    font-size: 1.2rem;

    margin-bottom: 2.5%;
}


.Link-Legal-Terms{

    text-decoration: none;

    color: #606264
}


.Link-Legal-Terms:hover{

    color: #000
}


.List-Legal-Terms{
    
    list-style: none;

    width: 12.8%;

    display: inline-block;
}


.List-Legal-Terms:nth-last-child(1){

    width: 15.2%
}


.Opening-Hours{

    color: #606264;

    font-size: 1.3rem;
}



