body{

    font-family: "Afo"
}


li{

    list-style: none 
}


/* Pie de Página ---------------------------------------------------------------------------------------------------*/

.Footer-Page{

    background: #f2f4f4;

    padding: 2.8%;

    margin-top: 5%
}


/* Contenido ---------------------------------------------------------------------------------------------------*/

.Section-Content{

    margin: auto;

    text-align: center
}


.Copyright{

    font-size: 1.4rem;

    margin-bottom: 1.8%
}


.Footer-Nav{

    justify-content: space-evenly;

    width: 45%;

    display: flex;

    padding: 0;

    margin: auto;

    margin-bottom: 1.8%
}


.Link-Legal, .Link-Corporate{

    color: #606264;

    font-size: 1.3rem
}


.Link-Legal:hover, .Link-Corporate:hover{

    color: #000;

    text-shadow: 0 0 .5px #000;
}





