

@font-face {
    font-family: "Cervone";
    src: url("Fontspring-DEMO-cervoneue-regularneue.otf") format("opentype");
}


@font-face {
    font-family: "Outfit";
    src: url("Outfit-VariableFont_wght.ttf") format("truetype");
}

