body{

    font-family: "Outfit";

    background: #003366
}


p, .Phrase{

    font-size: 1.1rem
}


/* Encapsulated Page----------------------------------------------------------------------------------*/

.Encapsulated-Page{

    width: 80%;

    margin: auto;

    padding: 3.5%;

    margin-top: 5%;

    margin-bottom: 5%;

    border-radius: .75rem;

    background: #ffffff;

    border: 1px #e1e4e8 solid;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}


/* Content Page--------------------------------------------------------------------------------------*/

h1{

    font-size: 3rem
}


.Phrase{

    margin-top: 3.5%
}
