body{

    background: #000c;

    margin: 0;

    font-family: "Afo"
}


/* Encabezado página----------------------------------------------------------------------------------*/

.Encapsulated-Page{

    background: #f8f9f9; 

    border: 0.6rem groove #e2e7ec;

    width: 80%;

    border-radius: .5rem;

    padding: 3.5%;

    margin: 6%
}


/* Contenido página-----------------------------------------------------------------------------------*/

h1{

    font-size: 3rem;

    text-shadow: 0 0 0.1rem #000
}


section{

    margin-top: 3.6rem
}


h2{

    font-size: 1.6rem;

    margin-bottom: 0.6rem
}


p, li{

    font-size: 1.3rem
}


a{

    color: #000
}







