body{

    font-family: "Outfit";

    background: #003366
}


h1{
    
    font-size: 3rem
}


section{

    margin-top: 3.5rem
}


h2{

    font-size: 1.5rem;

    margin-bottom: 0.5rem
}


p{

    margin: 0
}


p, li{

    font-size: 1.1rem
}


a{

    color: #333  
}




/* Encapsulated Page-------------------------------------------------------------------------*/

.Encapsulated-Page{

    width: 80%;

    margin: auto;

    padding: 3.5%;

    margin-top: 5%;

    margin-bottom: 5%;

    border-radius: .75rem;

    background: #ffffff;

    border: 1px #e1e4e8 solid;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}



