
body{

    font-family: "Afo"
}


.Encapsulated-Page{

    display: flex;

    flex-wrap: wrap;

    justify-content: center
}


.Title-Members, .Caption-Purpose-Supermarket{
    
    text-align: center;

    color: #000;

    font-size: 6rem
}


.Encapsulated-Members, .Encapsulated-Purpose-Supermarket{

    display: flex;

    justify-content: space-evenly
}


.Contents-Encapsulated{

    width: 18%;
    
    text-align: center;

    margin-bottom: 3%;

    background: #f8f9f9 ;

    padding: 2%;

    border: 8px #e2e7ec groove;

    border-radius: 1.1rem;

    transition: transform 1.5s ease;
}


.Contents-Encapsulated:hover{

    background: #fff;

    transform: scale(1.05) ;
}


.Photos{

    width: 10.5rem;

    height: 10.5rem;

    border-radius: 25%;

    box-shadow: 0 0 0.5rem #abb2b9
}


.Position{

    color: #abb2b9;

    font-size: 1.3rem;

    margin-top: 10%;

    display: block;
}


p{

    font-size: 1.2rem
}


.Caption-Contents-Purpose{

    font-size: 3rem;

}
