body{

    font-family: "Afo"
}


p{

    font-size: 1.3rem
}


/* Página -----------------------------------------------------------------------------------------------*/

.Encapsulated-Page{

    display: flex;

    flex-wrap: wrap
}


.Title-Members, .Title-Purpose-Supermarket{
    
    text-align: center;

    font-size: 6rem
}


/* Secciones de la página --------------------------------------------------------------------------------*/

.Section-Members, .Section-Purpose-Supermarket{

    display: flex;

    justify-content: space-evenly
}


.Section-Members{

    margin-bottom: 8%
}


/* Cartas -----------------------------------------------------------------------------------------------*/

.Cards{

    width: 19%;
    
    text-align: center;

    background: #f8f9f9;

    padding: 2%;

    border: 8px #e2e7ec groove;

    border-radius: 1rem;

    transition: transform 1.5s ease;
}


.Cards:hover{

    background: #fff;

    transform: scale(1.05) 
}


.Photos{

    width: 10.5rem;

    height: 10.5rem;

    border-radius: 50%;

    box-shadow: 0 0 0.3rem #abb2b9
}


.Position{

    color: #abb2b9;

    font-size: 1.3rem;

    margin-top: 10%;

    display: block;
}


/* Título cartas misión, visión --------------------------------------------------------------------------*/

.Title-Cards-Purpose{

    font-size: 3rem;

}
