body{

    margin: 0
}


a{

    text-decoration: none
}


/* Encabezado -------------------------------------------------------------------------------------*/

.Page-Header{

    background: #003366;
  
    width: 100%;
  
    display: flex;

    margin-bottom: 5%
}


.Encapsulated-Icon-Title{

    display: flex;

    align-items: center
}


.IconLemon{

    width: 95%;

    height: 5.5rem;

    margin-left: 40%
}


.Title-Header{

    color: #fff;
  
    font-family: "Neee";
  
    font-size: 3rem;
  
    letter-spacing: 0.5rem;

    margin-left: 3.5%
}

/* Barra navegación --------------------------------------------------------------------------------*/

.Navigation-Bar{

    display: flex;

    justify-content: space-between;
    
    width: 40%;

    margin-left: auto;

    padding: 4.5% 2.3% 0 0
}


.Navigation-Bar-Text{

    margin-top: 2%;
  
    font-size: 1.5rem;

    font-family: "Afo"
}



.Navigation-Bar-List{

    list-style-type: none;

    font-size: 1.2rem;

    display: flex;

    flex-direction: column;

    align-items: center;

    font-weight: bold;

    color: #fff;

    position: relative;

    padding: 8px

}


.Navigation-Bar-List::after{

    content: "";

    position: absolute;

    left: 0;

    bottom: 5px;

    width:  0%;

    height: 4px;

    background-color: #fff;

    transition: width 0.3S ease
}


.Navigation-Bar-List:hover::after{

    width: 100%
}


/*---------------------------------------------------------------------------------------------------*/

.IconoAdmin{
    background-image: url("../Images/Profile.png")

}


.IconoCatalogo{
    background-image: url("../Images/Catalogo.png")

}


.IconoDescripcion{
    background-image: url("../Images/Grupo.png")

}


.IconoContactos{
    background-image: url("../Images/Contacto.png")

}


.IconoAdmin, .IconoCatalogo, .IconoDescripcion, .IconoContactos{

    background-size: cover;

    display: block;

    width: 3rem;

    height: 3rem
}

